.card{
    background-color:#18181b ;
    color:white;
    text-align: center;
    align-items: center;
}
.card-header{
    color: #FF2D20;
    font-size: x-large;
}
.card-sub-header{
    color: #FF2D20;
    font-size:medium;
}
.item-image{
    width: 100%;
}
.form-input{
    background-color: #18181b;
}
